<div id="logo">
    <img src="img/logo.png" />
</div>
<div id="external-links">
    <ul id="links">
		<li>
		    <a href="https://blog.smc.org.in/">Blog</a>
		 </li>
        <li>
            <a href="https://wiki.smc.org.in/">Wiki</a>
        </li>
        <li>
            <a href="http://libindic.org/" target="_blank">LibIndic</a>
        </li>
        <li>
            <a href="https://indicproject.org/" target="_blank">Indic Project</a>
        </li>
        <li>
            <a href="https://smc.org.in/fonts/">Fonts</a>
        </li>
        <li>
            <a href="https://gitlab.com/smc" target="_blank">Git Repository</a>
        </li>
        <li>
            <a href="http://lists.smc.org.in/listinfo.cgi/discuss-smc.org.in" target="_blank">Mailing List</a>
        </li>
        <li>
            <a href="https://webchat.freenode.net/?randomnick=1&channels=smc-project" target="_blank">IRC: #smc-project on freenode</a>
        </li>
        <li>
            <a href="https://matrix.to/#/#smc-project:matrix.org" target="_blank">Matrix: #smc-project:matrix.org</a>
        </li>
        <li>
            <a href="https://t.me/smc_project" target="_blank">Telegram: @smc_project</a>
        </li>
        <li>
            <a href="http://dhvani.sourceforge.net/" target="_blank">Dhvani</a>
        </li>
        <li>
            <a href="http://www.grandham.org/" target="_blank">Malayala Grandhavivaram</a>
        </li>
        <li>
            <a href="https://planet.smc.org.in/" target="_blank">Blog Planet</a>
        </li>
        <li>
            <a href="https://smc.org.in/code-of-conduct.html">Code of Conduct</a>
        </li>
    </ul>
</div>