<div id="social-share">
    <ul id="social">
        <li><a id="social-icon-1" href="https://www.facebook.com/SMC.Project" target="_blank">Facebook</a></li>
        <li><a id="social-icon-2" href="https://twitter.com/smcproject" target="_blank">Twitter</a></li>
        <li><a id="social-icon-3" href="https://identi.ca/smcproject" target="_blank">Identi.ca</a></li>
        <li><a id="social-icon-4" href="https://plus.google.com/114205080648406335851/" target="_blank">Google Plus</a></li>
        <li><a id="social-icon-5" href="https://diasp.org/people/71abaf650562c0a9" target="_blank">Diaspora</a></li>
    </ul>
</div>